.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

#IntelliJ IDEA
.idea
*.iml

#Gradle
.gradle
build

signing.properties
CMakeLists.txt
src/main/obj
src/main/libs
